@model AdvancedRepository.Models.ViewModels.LoginModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post">
    <div class="mb-3">
        <label for="UserName" class="form-label">EmailAdress</label>
        <input type="email" class="form-control" asp-for="UserName">
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" asp-for="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>