@model AdvancedRepository.Models.ViewModels.UnitModel

@{
    ViewData["Title"] = "CrUD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Title</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group" hidden>
                <input asp-for="Unit.Id" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Unit.UnitName" class="control-label">Unit Name</label>
                <input asp-for="Unit.UnitName" class="form-control" />
                <span asp-validation-for="Unit.UnitName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="@Model.BtnVal" class="@Model.BtnClass"/>
            </div>

            <div class="form-group">
                <a class="btn btn-warning" href="/Unit/List">Cancel</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
