@model IEnumerable<AdvancedRepository.DTOs.UnitList>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Recover Units List</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Unit Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.UnitId
                </td>
                <td>
                    @item.UnitName
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.UnitId">Edit</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.UnitId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a class="btn btn-secondary" asp-action="List">Back to List</a>
</div>

