@model IEnumerable<AdvancedRepository.DTOs.CountyList>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Counties List</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                County Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.CountyId
                </td>
                <td>
                    @item.CountyName
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.CountyId">Edit</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CountyId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a class="btn btn-primary" asp-action="Create">Create</a>
    <a class="btn btn-light" asp-action="Recover">Recover</a>
</div>

