@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    @if (ViewBag.UserName != null)
    {
        <h1 class="display-4">
            Welcome @ViewBag.UserName
        </h1>
    }
<h1>RECEP CAN BOYACI</h1>
</div>
